/* Write your CSS here */
.list-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 4px;
}
.sp-image {
  height: 70px;
  width: 100px;
  margin-bottom: 2px;
}
.sp-name {
  font-family: 'Roboto';
  font-size: 18px;
  color: #171f46;
}
.sp-brand {
  font-family: 'Roboto';
  font-size: 15px;
  color: #616e7c;
}
.sub-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sp-price {
  font-family: 'Roboto';
  font-size: 15px;
  color: #1e293b;
  font-weight: bold;
}
.rating-container {
  width: 25px;
  background-color: #3b82f6;
  border-radius: 6px;
}
.rating {
  font-family: 'Roboto';
  font-size: 14px;
  color: #ffffff;
}
.star-image {
  height: 20px;
  width: 20px;
  margin: 2px;
}
